* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

header {
    max-width: 100%;
    display: block;
}

.c-container {
    width: 1253px;
    margin: 0 auto;
}

.card1 :hover .add-wish {
    bottom: -10px;
    display: block;
}